

.mainDiv{
    height: 300px;
    width : 300px;
    border: 2px solid black;
   float: left;

    
}


.gameContent {
    height: 200px;
    width: 200px;
}

.divOne{background-color: red;
    border-top-left-radius: 100%;   
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}
.divTwo{background-color: green;
    border-top-left-radius: 0;
    border-top-right-radius:100%;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}
.divThree{background-color: yellow;
    border-top-left-radius: 0;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:100%;
}
.divFour{background-color: blue;
    border-top-left-radius: 0;
    border-top-right-radius:0;
    border-bottom-right-radius:100%;
    border-bottom-left-radius:0;}

