body {
    margin:0;
    padding:0;
   
}
.title {
text-align: center;
}

.contentConatiner {
    border-radius: 50%;
    margin-top: 40px;
    border: 2px solid black;
    margin: 0 auto;
    height: 610px;
    width: 610px;
   
}

.divOne{
    background-color: blue;
}

.divTwo{
    background-color: yellow;
}
.divThree{
    background-color: red;
}
.divFour{
    background-color: green;
}