body {
    margin:0;
    padding:0;
   
}
.title {
text-align: center;
}

.contentConatiner {
    border-radius: 50%;
    margin-top: 40px;
    border: 26px solid black;
    margin: 0 auto;
    height: 610px;
    width: 610px;
    z-index: 0;
   
}

